
Dockerfile
*/Dockerfile
registry/*/Dockerfile
!registry/000-synapse/Dockerfile
!registry/000-synapse-external/Dockerfile
!system/*/Dockerfile
!discovery/Dockerfile
!monitor/*/Dockerfile
/receptor/rootfs/bin/server_generator
!/receptor/Dockerfile
/cdectl/templates/bindata.go
.extravars.json
contrib/aws/hosts
/releaser/rootfs/usr/bin/releaser
/deployer/rootfs/usr/bin/deployer
/releaser/rootfs/usr/bin/subscriber
client/cde
keyssync/rootfs/bin/keysync
/api/.gradle
.gradle
target
/launcher/gradle/wrapper/gradle-wrapper.properties
controller/gradle/wrapper/gradle-wrapper.properties
/build
*.iml
/cdectl/config/bindata.go
*.ipr
*.iws
*.swp
out
reports
.DS_Store
.idea
generated
client/bin/cde
.vagrant/

/cdectl/cdectl

*.pyc
.env/*
*.vdi

